.navbar{
    background-color: #09233d;
}

.navbar a{
    color: white;
    font-weight: 400;
    margin: 0 15px;
    font-size: 18px;
    font-family: Lato,sans-serif;
}

.dropdown-menu a{
    color: #0f0f0f;
    margin: 0;
}

body {
    background: #b3d9f0;
}

 .dropdown-item{
     text-align: center;
 }

 .row{
     margin-top: 15px;
 }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #5284b3;
    margin: 0 1px
}

.list-group-item.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    margin: 0 30px;
}

.list-group-item {
    position: relative;
    display: block;
    padding: .5rem .2rem;
    background-color: #fff;
    border: 0;
}